html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -moz-font-feature-settings: "liga=1, dlig=1";
    -moz-font-feature-settings: "liga", "dlig";
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
    word-wrap: break-word;
    transition: background-color 0.2s;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav li {
    font-size: 1.6rem;
    font-family: 'Marcellus SC', serif;
    list-style-type: none;
    margin: 0 2rem 0 0;
}

nav a {
    line-height: 4rem;
    padding: 1rem 2rem;
}

nav a:active {
    background-color: #eee;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    background-color: #ddd;
}

a:visited {
    color: #000;
}

nav .active-page {
    background-color: #ddd;
}

.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.landing form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.landing .site-title {
    font-family:'Marcellus SC', serif;
    font-size: 4.8rem;
    max-width: calc(80rem + 10%);
    width: 85%;
    margin: 0;
}

.landing .site-subtitle {
    font-family:'Vollkorn', Georgia, serif;
    font-size: 1.8rem;
    max-width: calc(80rem + 10%);
    width: 85%;
}

.list {
    display: none;
}

.list-title {
    font-size: 4.8rem;
    padding: 2rem 2rem 0 2rem;
    margin: 2rem 0 0 0;
    text-align: center;
    text-transform: uppercase;
    font-family:'Marcellus SC', serif;
}

.list-subtitle {
    font-size: 1.2rem;
    font-family:'Marcellus', serif;
    margin: 2rem 0 2rem 0;
    text-align: center;
}

.entries {
    list-style: none;
    padding: 0;
    margin: 2rem 0 0 0;
}

.list-header *:empty, .entries:empty {
    display: none;
}

.entry {
    display: flex;
    flex-direction: row;
    min-height: 30rem;
    background-position: 33% 33%;
    background-size: cover;
    padding: 4rem;
}

.label {
    display: flex;
    flex: 2;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 2rem 2rem 0 0;
    font-family: 'Vollkorn', Georgia, serif;
    font-weight: 400;
    font-size: 3.6rem;
    color: #000;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
}

.image-container {
    display: flex;
    flex: 2;
    background-size: contain;
    background-position: right 0;
    background-repeat: no-repeat;
    min-width: 8rem;
}

.title {
    font-size: 3.6rem;
    margin: 2rem 0 0 0;
    text-transform: uppercase;
    font-family: 'Marcellus SC', serif;
}

.subtitle {
    font-size: 1.2rem;
}

.subsubtitle {
    line-height: 1.5;
    font-size: 1.2rem;
}

.text {
    flex: 10;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 2rem 2rem 2rem;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    font-family: 'Vollkorn', Georgia, serif;
    font-weight: 400;
}

.writeup {
    margin: 2rem 0 0 0;
    min-height: 25%;
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: justify;
}

.writeup p:first-child {
    margin: 0;
}

.writeup .long {
    -moz-column-fill: 'auto';
    -webkit-column-fill: 'auto';
    column-fill: 'auto';
    -webkit-columns: '80rem';
}

.columnar-text {
    -ms-columns: 50rem;
    -moz-columns: 50rem;
    -webkit-columns: 50rem;
    columns: 50rem;
}

.note {
    margin: 2rem 0 0 0;
    font-size: 1.6rem;
}

.links {
    margin: 0 0 0 0;
    padding: 0 0 0 1.8rem;
    font-size: 1.2rem;
    list-style: decimal;
}

.note:not(:empty):before {
    font-style: normal;
    font-family: 'Marcellus SC', serif;
    content: attr(data-label);
}

.template {
    display: none;
}

@media only screen and (min--moz-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2/1),
       only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min-device-pixel-ratio: 2),
       only screen and (max-width: 749px) {

    body {
        display: block;
    }

    nav li {
        padding: 1rem 0;
    }

    .text {
        width: calc(100% - 4rem);
    }

    .entry {
        padding: 2rem;
        flex-direction: column;
        align-items: flex-start;
        transition: none;
    }

    .image-container {
        background-position: left 0;
        width: calc(100% - 4rem);
        min-height: 20rem;
        margin: 0 0 2rem 0;
    }
}
