html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80%;
    -moz-font-feature-settings: "liga=1, dlig=1";
    -moz-font-feature-settings: "liga", "dlig";
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
    word-wrap: break-word;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li {
    font-size: 1.6rem;
    font-family: 'Marcellus SC', serif;
    list-style-type: none;
}

nav a {
    padding: 1rem 2rem;
    margin: 0 0 0 2rem;
}

nav a:active {
    background-color: #eee;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    background-color: #ddd;
}

a:visited {
    color: #000;
}

nav .active-page {
    background-color: #ddd;
}

.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.load-list-input {
    width: 75%;
    max-width: 80rem;
    font-size: 3.6rem;
    font-family: 'Vollkorn', Arial, serif;
    border: 0;
    border-bottom: solid #ddd 2px;
}

.load-list-submit {
    width: 10%;
    border: 0;
    padding: 2rem;
    font-size: 3.6rem;
    min-height: 100%;
    background-color: transparent;
    color: #444;
    cursor: pointer;
}

.load-list-submit:hover {
    background-color: #ddd;
}

.landing form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.landing .statistics {
    display: flex;
    flex-direction: column;
    max-width: calc(80rem + 10%);
    width: 85%;
    color: #666;
}

.landing .statistics h2 {
    font-weight: normal;
    font-family:'Marcellus SC', serif;
    margin: 2rem 0 0 0;
    font-size: 1.6rem;
}

.landing .statistics .latest-uploads {
    list-style: none;
    padding: 0;
}

.landing .statistics .latest-entry {
    font-family:'Marcellus SC', serif;
    text-transform: lowercase;
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
}

.landing .total-uploads {
    font-size: 1.6rem;
    font-family:'Marcellus SC', serif;
}

.landing .total-uploads:after {
    content: ' total uploads';
}

.landing .site-title {
    font-family:'Marcellus SC', serif;
    font-size: 4.8rem;
    max-width: calc(80rem + 10%);
    width: 85%;
    margin: 0 0 6rem 0;
}

.list-title {
    font-size: 4.8rem;
    padding: 2rem 2rem 0 2rem;
    margin: 2rem 0 0 0;
    text-align: center;
    text-transform: uppercase;
    font-family:'Marcellus SC', serif;
}

.list-subtitle {
    font-size: 1.2rem;
    font-family:'Marcellus', serif;
    margin: 2rem 0 2rem 0;
    text-align: center;
}

.entries {
    list-style: none;
    padding: 0;
    margin: 2rem 0 0 0;
}

.entry {
    display: flex;
    flex-direction: row;
    min-height: 30rem;
    background-position: 33% 0;
    background-size: cover;
    padding: 4rem;
}

.label {
    display: flex;
    flex: 2;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 2rem 2rem 0 0;
    font-family: 'Vollkorn', Arial, serif;
    font-weight: 400;
    font-size: 3.6rem;
    color: #000;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
}

.image-container {
    display: flex;
    flex: 2;
    background-size: contain;
    background-position: right 0;
    background-repeat: no-repeat;
    min-width: 8rem;
}

.title {
    font-size: 3.6rem;
    margin: 2rem 0 0 0;
    text-transform: uppercase;
    font-family: 'Marcellus SC', serif;
}

.subtitle {
    font-size: 1.2rem;
}

.subsubtitle {
    line-height: 1.5;
    font-size: 1.2rem;
}

.text {
    flex: 10;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 2rem 2rem 2rem;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    font-family: 'Vollkorn', Arial, serif;
    font-weight: 400;
}

.writeup {
    -ms-columns: 50rem;
    -moz-columns: 50rem;
    -webkit-columns: 50rem;
    columns: 50rem;
    min-height: 25%;
    margin: 2rem 0 0 0;
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: justify;
}

.note {
    margin: 2rem 0 0 0;
    font-size: 1.6rem;
}

.links {
    margin: 0 0 0 0;
    padding: 0 0 0 1.8rem;
    font-size: 1.2rem;
    list-style: decimal;
}

.note:not(:empty):before {
    font-style: normal;
    font-family: 'Marcellus SC', serif;
    content: attr(data-label);
}

@media only screen and (min--moz-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2/1),
       only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min-device-pixel-ratio: 2),
       only screen and (max-width: 749px) {

    .text{
        width: calc(100% - 4rem);
    }

    .entry {
        flex-direction: column;
        align-items: flex-start;
    }

    .image-container {
        background-position: left 0;
        width: calc(100% - 4rem);
        min-height: 20rem;
        margin: 0 0 2rem 0;
    }
}